<%- include('../partials/header') %>

<form action="/dishes" method="POST">
  <label>Dish Name:</label>
  <input type="text" name="dishName">
  <label>Cooking Time:</label>
  <input type="text" name="cookingTime">
  <input type="submit" value="Add Dish">
</form>

<%- include('../partials/footer') %>